:root {
  --color-primary: #955;
  --color-primary-dark: #733;
  --color-primary-1-2: rgba(153, 85, 85, .5);
  --color-primary-85: rgba(153, 85, 85, .85);
  --color-secondary: #555;
  --color-secondary-dark: #333;
  --color-secondary-light: #aaa;
  --color-secondary-light-1-2: rgba(170, 170, 170, .5);
  --font-primary: "Titillium Web", sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  /* text-transform: lowercase; */
  background-color: #f2f2f2;
}

.masthead,
h1,
h2 {
  text-transform: lowercase;
}

::selection {
  color: #fff;
  background-color: var(--color-primary);
}

.highlight {
  position: relative;
  color: #fff;
  z-index: 10;
}

.highlight::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: var(--color-primary);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  z-index: -5;
}

h1 .highlight::before,
h2 .highlight::before {
  height: 2.8rem;
}


.masthead .highlight::before {
  height: 1.96rem;
  transform: translate(-50%, -50%);
}

.shift-up {
  margin-top: -1rem;
}

/* ----- =Type ----- */

h2 {
  color: var(--color-primary);
  font-weight: 300;
  border-bottom: 2px solid var(--color-secondary);
}

.font-light {
  font-weight: 300;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color .25s;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.no-under,
.no-under:hover,
.no-under:active,
.no-under:focus {
  text-decoration: none;
}

a.no-under:hover,
a.no-under:active,
a.no-under:focus {
  color: var(--color-secondary);
}

/* ---------- =Header ---------- */

.text-fff,
.text-fff-hov:hover,
.text-fff-hov:active,
.text-fff-hov:focus {
  color: #fff;
}

.text-primary,
.text-primary-hov:hover,
.text-primary-hov:active,
.text-primary-hov:focus {
  color: var(--color-primary);
}

.text-secondary,
.text-secondary-hov:hover,
.text-secondary-hov:active,
.text-secondary-hov:focus {
  color: var(--color-secondary);
}

.bg-fff,
.bg-fff-hov:hover,
.bg-fff-hov:active,
.bg-fff-hov:focus {
  background-color: #fff;
}

.bg-fff-1-2,
.bg-fff-1-2-hov:hover,
.bg-fff-1-2-hov:active,
.bg-fff-1-2-hov:focus {
  background-color: rgba(255, 255, 255, .5);
}

.bg-primary,
.bg-primary-hov:hover,
.bg-primary-hov:active,
.bg-primary-hov:focus {
  background-color: var(--color-primary);
}

.bg-primary-1-2,
.bg-primary-1-2-hov:hover,
.bg-primary-1-2-hov:active,
.bg-primary-1-2-hov:focus {
  background-color: var(--color-primary-1-2);
}

/* ---------- =Header ---------- */

.masthead {
  background-color: rgba(255, 255, 255, .85);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  transition: color .25s;
}

.logo:hover .highlight,
.logo:focus .highlight,
.logo:active .highlight {
  /* background-color: #fff; */
  color: var(--color-primary);
  font-weight: 300;
}

.highlight-hover {
  position: relative;
  display: inline-block;
}

.logo:hover .highlight-hover,
.logo:focus .highlight-hover,
.logo:active .highlight-hover {
  color: #fff;
  font-weight: bold;
}

.logo:hover .highlight-hover::before,
.logo:active .highlight-hover::before,
.logo:focus .highlight-hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: var(--color-primary);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.masthead .highlight-hover::before {
  height: 1.9994rem;
}

.logo:hover .highlight::before,
.logo:active .highlight::before,
.logo:focus .highlight::before {
  display: none;
}

/* ----- =Toggle Nav ----- */

.nav-label {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  z-index: 1100;
  display: inline-block;
}

.tog {
  background-color: var(--color-primary);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: opacity .5s, transform .5s, left .5s, top .5s, bottom .5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-label-open .top {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-label-open .middle {
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-label-open .bottom {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%) rotate(-45deg);
          transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 3.5488rem);
  top: 3.5488rem;
  background-color: var(--color-primary-85);
  transition: left .5s ease-in-out;
  padding-top: .65rem;
  text-align: center;
}

.nav-closed {
  left: -150vw;
}

.nav-open {
  left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color .25s;
}

/* ---------- =Main ---------- */

/* ----- =Banner ----- */

.banner {
  height:100vh;
  background:
    linear-gradient(to top, rgba(85, 85, 85, .75), rgba(85, 85, 85, .75)) top left / cover no-repeat,
    url("../images/banner-bg.jpg") bottom center / cover no-repeat,
    #fff;
  text-align: center;
  position: relative;
  z-index: 100000;
}

.work-preview .unit {
  transition: background-color .25s;
}

.work-preview .unit:hover,
.work-preview .unit:focus,
.work-preview .unit:active {
  text-decoration: none;
  background-color: #fafafa;
}

.work-preview h3 {
  color: var(--color-secondary);
  transition: color .25s;
}

.work-preview .unit:hover h3,
.work-preview .unit:focus h3,
.work-preview .unit:active h3 {
  color: var(--color-primary);
}

.cv {
  font-size: 2rem;
}

.footer {
  background-color: var(--color-secondary);
  text-align: center;
}

.footer a {
  color: #fff;
}

.footer a.no-under:hover,
.footer a.no-under:active,
.footer a.no-under:focus {
  color: var(--color-primary)
}

.client-logos .unit img {
  transition:
    filter .25s,
    opacity .5s;
}

.client-logos:hover .unit img {
  opacity: .5;
}

.client-logos .unit:hover img {
  opacity: 1;
}

/* --------------- =Portfolio Pages --------------- */
/*
.portfolio-nav ul {
  border-bottom: 2px solid var(--color-secondary);
} */

ol {
  padding-left: .975rem;
}

ol li::before {
  font-weight: bold;
  color: var(--color-primary);
}

.embed-third {
  padding-top: 116.5302%;
}

.item-number {
  position: absolute;
  bottom: .75rem;
  right: .75rem;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: var(--color-secondary);
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
}

.item-number-vimeo {
  bottom: 2.5rem;
}

.item-number-left {
  left: .75rem;
  right: auto;
}

.item-number-top {
  top: .75rem;
  bottom: auto;
}

.item-number-dark {
  color: #fff;
  background-color: var(--color-secondary-light-1-2);
}

@media only screen and (min-width: 38em) {

  h1 .highlight::before,
  h2 .highlight::before {
    height: 3.61846rem;
  }

  .masthead .highlight::before {
    height: 2.1108rem;
  }

  /* ----- =Header ----- */

  nav {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    text-align: right;
    padding-top: 0;
  }

  nav .list-group li {
    display: inline-block;
  }

  nav a {
    color: var(--color-secondary)
  }

  nav a:hover,
  nav a:focus,
  nav a:active {
    color: var(--color-primary);
    text-decoration: none;
  }

  nav li:last-child a,
  .footer .nav-soc a:last-child {
    margin-right: -.75rem;
  }


  ol {
    padding-left: 1.05rem;
  }

  .footer {
    text-align: left;
  }

  .footer .unit:first-child {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  ol {
    padding-left: 1.125rem;
  }

}
