html {
  font-family: Georgia, serif;
}

h1,
h2,
h3,
h4,
.nav,
.icon-label,
.dosis {
  font-family: Dosis, sans-serif;
}

.masthead {
  background-color: #933;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

h1 {
  font-weight: normal;
}

.georgia {
  font-family: Georgia, serif;
}

.text-lg {
  color: #ddd;
}

.text-mg {
  color: #aaa;
}

.text-dg {
  color: #333;
}

.text-blue {
  color: #184866;
}

.text-red {
  color: #933;
}

.bg-dg {
  background-color: #333;
}

.border-mg {
  border-color: #aaa;
}

.bor-b-2-lg {
  border-bottom: 2px solid #ddd;
}

.w-1-3 {
  width: 33.3333%;
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.btn {
  transition: background-color .5s, border-color .5s, color .5s;
}

.shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.hov-highlight {
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: border-color 1s;
  /*display: block;*/
  text-transform: lowercase;
}

.hov-highlight:hover {
  border-color: #ddd;
}

.rule {
  border-bottom: 1px solid #333;
}

.rule-2px {
  border-bottom: 2px solid #333;
}

.rule-light {
  border-bottom: 1px solid #ddd;
}

.rule-light-2px {
  border-bottom: 2px solid #ddd;
}

.indent {
  text-indent: 1rem;
}

.no-under {
  text-decoration: none;
}

.footer {
  background-color: #333;
  text-align: center;
}

.pad-l-1-4 {
  padding-left: .375rem
}

.logo {
  width: 50%;
  vertical-align: middle;
}

.push-s {
  margin: 0 0 1.3rem;
}

.i-awr {
  background-image: url("../images/awr-logo.svg");
}

.i-email {
  background-image: url("../images/mail.svg");
}

.i-f-book {
  background-image: url("../images/f-book.svg");
}

.i-i-gram {
  background-image: url("../images/i-gram.svg");
}

.i-tweet {
  background-image: url("../images/tweet.svg");
}

.i-link {
  background-image: url("../images/i-link.svg");
}

.nav-label {
  text-align: right;
  display: block;
}

.nav-label img:nth-child(2),
.nav-check:checked ~ .nav-label img:nth-child(1) {
  display: none;
}

.lbl-over {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -1000rem;
  top: 4.849375rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s;
  z-index: 999;
}

.i-tog {
  width: 1.5rem;
  vertical-align: middle;
  display: inline-block;
}

.nav-slide {
  position: fixed;
  left: -1000rem;
  top: 4.849375rem;
  background-color: #333;
  width: 50%;
  height: 100vh;
  transition: left .35s;
  z-index: 1000;
}

.nav-check {
  position: absolute;
  left: -1000rem;
}

.nav-check:checked ~ .nav-label img:nth-child(2) {
  display: inline-block;
}

.nav-check:checked ~ .nav-slide {
  left: 0;
}

.nav-check:checked ~ .lbl-over {
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

main {
  margin: 4.849375rem 0 0;
}

/* ----- =Home ----- */

.banner-body {
  background-color: #333;
}

.btn-ban {
  background-color: #ddd;
  border-color: #ddd;
}

.btn-ban:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ddd;
  color: #ddd;
}

.btn-ban:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ddd;
  color: #ddd;
}

.btn-ban:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ddd;
  color: #ddd;
}

.btn-welcome {
  background-color: #ddd;
  border-color: #ddd;
}

.btn-welcome:hover {
  background-color: #184866;
  border-color: #ddd;
}

.btn-welcome:active {
  background-color: #184866;
  border-color: #ddd;
}

.btn-welcome:focus {
  background-color: #184866;
  border-color: #ddd;
}

.prev-hov img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 1s;
}

.prev-hov:hover img {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

.prev-hov figure {
  overflow: hidden;
}

.fig-transition {
  transition: opacity 1s, left 1.5s, top 1.5s;
}

.fade:hover {
  opacity: 0;
}
/*
.move-left:hover figcaption {
  left: -20rem;
}

.move-up:hover figcaption {
  top: -20rem;
}

.move-right:hover figcaption {
  left: 30rem;
}

.move-down:hover figcaption {
  top: 30rem;
}*/

.prev-hov p {
  /*border-bottom: 2px solid #ddd;*/
  transition: border-color 1s;
  display: inline-block;
}

/*.prev-hov:hover p {
  border-color: #333;
}*/

/* ----- =Portfolio ----- */

.bg-blue {
  background-color: #184866;
}

.bg-blue-50 {
  background-color: rgba(24, 72, 102, .5);
}

.bg-blue-75 {
  background-color: rgba(24, 72, 102, .75);
}

.under-blue,
.hov-blue:hover {
  border-color: #184866;
}

.sub-mast {
  display: none;
}

.xs-1-6,
.s-1-6,
.m-1-6,
.l-1-6 {
  width: calc(100%/6);
}

.under-dark {
  border-color: #fff;
}

.under-dark:hover {
  border-color: #333;
}

.btn-portfolio {
  background-color: #184866;
  border-color: #184866;
  color: #fff;
}

.btn-portfolio:hover {
  color: #12364C;
  background-color: #fff;
}

.embed-2by1 {
  padding-top: 50%;
}

.btn-port {
  background-color: #ddd;
  border-color: #ddd;
}

.btn-port:hover {
  background-color: transparent;
  border-color: #ddd;
}

.btn-port:active {
  background-color: transparent;
  border-color: #ddd;
}

.btn-port:focus {
  background-color: transparent;
  border-color: #ddd;
}

.port-prev {
  background-color: #933;
}

/* ----- =Bio ----- */

.bg-red {
  background-color: #933;
}

.bg-red-50 {
  background-color: rgba(153, 51, 51, .5);
}

.bg-red-75 {
  background-color: rgba(153, 51, 51, .75);
}

.under-red,
.hov-red:hover {
  border-color: #933;
}

.dl-group-inline dt,
.dl-group-inline dd {
  display: inline-block;
}

.current {
  border-color: #ddd;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  width: 100%;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  .masthead {
    position: relative;
  }

  main {
    margin: 0;
  }

  .push-s {
    margin: 0;
  }

  .t-left-m {
    text-align: left;
  }

  .sub-mast {
    display: block;
  }

  .banner {
    max-height: 75vh;
    overflow: hidden;
    position: relative;
  }

  .banner-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    /*background-color: rgba(153, 51, 51, .5);*/
    /*opacity: 0;*/
    transition: opacity 1s;
  }

  .banner-body:hover {
    opacity: 1;
  }

  .banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .banner-text .yotta {
    font-size: 3rem;
    line-height: 3rem;
  }

  footer nav {
    text-align: right;
  }

  .email-icon {
    opacity: 0;
    transition: opacity 1s;
  }

  .btn-welcome:hover ~ .email-icon {
    opacity: 1;
  }

}

@media only screen and (min-width: 60em) {

  .banner-img {
    margin-top: -5rem;
  }

}

.to-top {
	text-align: center;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	display: none;
  opacity: .5;
  transition: opacity 1s, background-color 1s;
  border-radius: 8px;
}
.to-top:hover {
  opacity: 1;
  /*background-color: #ddd;*/
}

.top-arrow {
  width: 2rem;
}
