/* ----- =Accesibility ----- */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 10px #491e1e;
}

input[type="checkbox"] + label::before {
  position: absolute;
  left: -1000rem;
}

/* ----- =Borders ----- */

.b-b-1px,
.b-b-1px-hov:hover {
  border-bottom: 1px solid #fff;
}

/* ----- =Buttons ----- */

.btn-banner {
  background-color: rgba(73, 30, 30, .9);
  border: none;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out,
    border-color250m1s ease-in-out;
}

.btn-banner:hover,
.btn-banner:focus,
.btn-banner:active {
  background-color: #491e1e;
  border-color: #1e1e49;
}

/* ----- =Colors ----- */

.text-fff {
  color: #fff;
}

.text-red,
.text-red-hov:hover,
.text-red-hov:active,
.text-red-hov:focus {
  color: #491e1e;
}

.bg-blue,
.bg-blue-hov:hover,
.bg-blue-hov:active,
.bg-blue-hov:focus {
  background-color: #1e1e49;
}

.bg-red,
.bg-red-hov:hover,
.bg-red-hov:active,
.bg-red-hov:focus {
  background-color: #491e1e;
}

.bg-red-1-2,
.bg-red-1-2-hov:hover,
.bg-red-1-2-hov:active,
.bg-red-1-2-hov:focus {
  background-color: rgba(73, 30, 30, .9);
}

.bg-393,
.bg-393-hov:hover,
.bg-393-hov:active,
.bg-393-hov:focus {
  background-color: #1e491e;
}

.bg-000,
.bg-000-hov:hover,
.bg-000-hov:active,
.bg-000-hov:focus {
  background-color: #000;
}

.bg-333,
.bg-333-hov:hover,
.bg-333-hov:active,
.bg-333-hov:focus {
  background-color: #333;
}

.bg-666,
.bg-666-hov:hover,
.bg-666-hov:active,
.bg-666-hov:focus {
  background-color: #666;
}

.bg-999,
.bg-999-hov:hover,
.bg-999-hov:active,
.bg-999-hov:focus {
  background-color: #999;
}

.bg-ccc,
.bg-ccc-hov:hover,
.bg-ccc-hov:active,
.bg-ccc-hov:focus {
  background-color: #ccc;
}

.bg-fff,
.bg-fff-hov:hover,
.bg-fff-hov:active,
.bg-fff-hov:focus {
  background-color: #fff;
}

/* ----- =Grid ----- */

.xs-1-6 {
  width: 16.6666%;
}

/* ----- =Spacing ----- */

.embed-2by1 {
  padding-top: 50%;
}

/* ----- =Toggle Nav ----- */

.nav-label {
  width: 2.5rem;
  height: 2rem;
  margin: .5rem;
  position: relative;
  z-index: 3000;
}

.tog {
  background-color: #fff;
  width: 2.5rem;
  height: .25rem;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: opacity .5s, transform .5s, left .5s, top .5s, bottom .5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-label-open .top {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-label-open .middle {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-label-open .bottom {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

.slide-nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(73, 30, 30, .9);
  z-index: 1000;
  overflow: hidden;
  transition: height .5s ease-in-out;
}

.nav-closed {
  height: 0;
}

.nav-open {
  height: 100%;
}

/* ----- =Typography ----- */

.no-under {
  text-decoration: none;
}

.under-hov {
  text-decoration: underline;
}

@media only screen and (min-width: 25em) {

  /* ----- =Grid ----- */

  .s-1-6 {
    width: 16.6666%;
  }


}

@media only screen and (min-width: 38em) {

  /* ----- =Grid ----- */

  .m-1-6 {
    width: 16.6666%;
  }


}

@media only screen and (min-width: 60em) {

  /* ----- =Grid ----- */

  .l-1-6 {
    width: 16.6666%;
  }


}
