.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 3.54875rem);
  overflow: hidden;
  margin-top: 3.54875rem;
}

.banner-slides {
  width: 400vw;
  height: calc(100vh - 3.54875rem);
  position: absolute;
  top: 0;
  transition: left 1s ease-in-out;
  text-align: center;
}

.slide-1 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75)) top left / 100% 50% no-repeat,
    url("../images/redblacks-collage.jpg") bottom center / cover no-repeat;
}

.slide-2 {
  background:
  linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75)) top left / 100% 50% no-repeat,
  url("../images/banner-67.jpg") center center / cover no-repeat;
}

.slide-3 {
  background: url("../images/space-travel.jpg") center center / cover no-repeat;
}

.slide-4 {
  background-color: #cbffd6;
  opacity: .25;
}

/* ----- =Slide Controls ----- */

.slide-input-1:checked ~ .banner-slides {
  left: 0;
  animation: bannerSlidesOne 25s ease-in-out alternate infinite;
  animation-delay: 3.7037s;
}

.slide-input-2:checked ~ .banner-slides {
  left: -100vw;
  animation: bannerSlidesTwo 25s ease-in-out alternate infinite;
  animation-delay: -4.629625s;
}

.slide-input-3:checked ~ .banner-slides {
  left: -200vw;
  animation: bannerSlidesThree 25s ease-in-out alternate infinite;
  animation-delay: -12.962975s;
}

.slide-input-4:checked ~ .banner-slides {
  left: -300vw;
  animation: bannerSlidesFour 25s ease-in-out alternate infinite;
  animation-delay: -21.2963s;
}

.slide-input-1:checked ~ .slide-labels .slide-indicator {
  transform: translate(-455%, -38%);
  animation: bannerSlidesIndicator1 25s alternate infinite;
  animation-delay: 3.7037s;
}

.slide-input-2:checked ~ .slide-labels .slide-indicator {
  transform: translate(-186%, -38%);
  animation: bannerSlidesIndicator2 25s alternate infinite;
  animation-delay: -4.629625s;
}

.slide-input-3:checked ~ .slide-labels .slide-indicator {
  transform: translate(86%, -38%);
  animation: bannerSlidesIndicator3 25s alternate infinite;
  animation-delay: -12.962975s;
}

.slide-input-4:checked ~ .slide-labels .slide-indicator {
  transform: translate(357%, -38%);
  animation: bannerSlidesIndicator4 25s alternate infinite;
  animation-delay: -21.2963s;
}

.slide-input-1:focus ~ .slide-labels .slide-label-1,
.slide-input-2:focus ~ .slide-labels .slide-label-2,
.slide-input-3:focus ~ .slide-labels .slide-label-3,
.slide-input-4:focus ~ .slide-labels .slide-label-4 {
  outline: 3px solid #000;
  outline-offset: 0;
}

.slide-labels {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25)) top left / cover no-repeat;
}

[class*="slide-label-"] {
  width: 1rem;
  height: 1rem;
  background: url("../images/radio.svg") center center / cover no-repeat;
  display: inline-block;
  margin: 0 .75rem;
}

.slide-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background: url("../images/radio-selected.svg") center center / cover no-repeat;
}

/* - End of Slide Controls - */
