/* ----- =Colors ----- */
.text-red,
.text-red-hov:hover,
.text-red-hov:active,
.text-red-hov:focus {
  color: rgb(172, 33, 45);
}

.bg-red,
.bg-red-hov:hover,
.bg-red-hov:active,
.bg-red-hov:focus {
  background-color: rgb(172, 33, 45);
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(172, 33, 45, .9);
}

.slide-nav {
    background-color: rgba(172, 33, 45, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/puck.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(255, 255, 255, .75);
}

.banner-content {
  color: #000;
}

.banner-content h1 {
  color: #ac212d;
}

.invert {
  filter: invert(1);
}

.scroll {
  overflow: scroll;
}

figcaption {
  font-family: "Noto Sans", sans-serif;
}

.work-preview {
  border-top: 20px solid #ac212d;
}

.work-preview a.embed-item,
.work-preview .unit:nth-child(odd) a.embed-item,
.work-preview .unit:nth-child(even) a.embed-item {
  background-color: rgba(172, 33, 45, .9);
}


@media only screen and (min-width: 60em) {

  html {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, .9))), url("../images/rink-plays.svg");
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../images/rink-plays.svg");
    background-position: left top, -10rem -5rem;
    background-size: cover, 80% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  figure .scroll {
    overflow: visible;
  }

  figure .scroll img {
    width: 100%;
  }

}

@media only screen and (min-width: 90em) {


}
