/* ----- =Colors ----- */
.text-red,
.text-red-hov:hover,
.text-red-hov:active,
.text-red-hov:focus {
  color: rgb(172, 33, 45);
}

.bg-red,
.bg-red-hov:hover,
.bg-red-hov:active,
.bg-red-hov:focus {
  background-color: rgb(172, 33, 45);
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(172, 33, 45, .9);
}

.slide-nav {
    background-color: rgba(172, 33, 45, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/puck.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(255, 255, 255, .75);
}

.banner-content {
  color: #000;
}

.banner-content h1 {
  color: #ac212d;
}

.rationale {
  /*background: url("../images/rink-plays.svg") -7.5rem 1rem / 25rem auto no-repeat;*/
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)),  url("../images/plays-rationale.svg");
  background-position: left top, center 2rem;
  background-size: cover,  auto 90%;
  background-repeat: no-repeat;
}

.scroll {
  overflow: scroll;
}

figcaption {
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (min-width: 90em) {


}
