/* ----- =Colors ----- */
.text-green,
.text-green-hov:hover,
.text-green-hov:active,
.text-green-hov:focus {
  color: #393;
}

.bg-green,
.bg-green-hov:hover,
.bg-green-hov:active,
.bg-green-hov:focus {
  background-color: #393;
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(51, 153, 51, .9);
}

.slide-nav {
    background-color: rgba(51, 153, 51, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/banner.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(0, 0, 0, .6);
}

h2 + p a {
  color: #000;
  text-decoration: none;
  -webkit-transition:
    color 250ms linear;
  transition:
    color 250ms linear;
}

h2 + p a:hover {
  color: #393;
}

.weblink {
  color: #393;
}

.img-flex {
  border: 2px solid #e2e2e2;
}

.work-preview {
  border-top: 20px solid #393;
}

.work-preview a.embed-item,
.work-preview .unit:nth-child(odd) a.embed-item,
.work-preview .unit:nth-child(even) a.embed-item {
  background-color: rgba(51, 153, 51, .9);
}


@media only screen and (min-width: 60em) {

  html {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, .9))), url("../images/bg-polished.svg");
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../images/bg-polished.svg");
    background-position: left top, center center;
    background-size: cover, 75% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
