/* ----- =Colors ----- */
.text-local,
.text-local-hov:hover,
.text-local-hov:active,
.text-local-hov:focus {
  color: #5e0d8b;
}

.bg-local,
.bg-local-hov:hover,
.bg-local-hov:active,
.bg-local-hov:focus {
  background-color: #5e0d8b;
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(94, 13, 139, .9);
}

.slide-nav {
  background-color: rgba(94, 13, 139, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/banner.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(0, 0, 0, .6);
}

.work-preview {
  border-top: 20px solid #5e0d8b;
}

.work-preview a.embed-item,
.work-preview .unit:nth-child(odd) a.embed-item,
.work-preview .unit:nth-child(even) a.embed-item {
  background-color: rgba(94, 13, 139, .9);
}
/*
@media only screen and (min-width: 38em) {

  .work-overlay {
    z-index: 10000;
    background-color: rgba(94, 13, 139, .9);
    transition:
      height 250ms ease-in-out;
    overflow: hidden;
    top: 10px;
    left: 0;
    height: calc(100% - 10px);
  }

  .work-overlay p {
    transition:
      opacity 250ms;
  }

  .work-overlay-shrink:hover .work-overlay {
    height: 0;
  }

  .work-overlay-shrink:hover .work-overlay p {
    opacity: 0;
  }

}*/

@media only screen and (min-width: 60em) {

  html {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../images/bball.svg");
    background-position: left top, center center;
    background-size: cover, 50% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
