/* ----- =Colors ----- */
.text-yellow,
.text-yellow-hov:hover,
.text-yellow-hov:active,
.text-yellow-hov:focus {
  color: #dcbf30;
}

.bg-yellow,
.bg-yellow-hov:hover,
.bg-yellow-hov:active,
.bg-yellow-hov:focus {
  background-color: #dcbf30;
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(220, 191, 48, .9);
}

.slide-nav {
    background-color: rgba(220, 191, 48, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/banner.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(0, 0, 0, .6);
}

.img-flex {
  border: 2px solid #e2e2e2;
}
.work-preview {
  border-top: 20px solid #dcbf30;
}

.work-preview a.embed-item,
.work-preview .unit:nth-child(odd) a.embed-item,
.work-preview .unit:nth-child(even) a.embed-item {
  background-color: rgba(220, 191, 48, .9);
}

@media only screen and (min-width: 60em) {

  html {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../images/v-logo.svg");
    background-position: left top, 20% 80%;
    background-size: cover, 30% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
