/* ----- =Colors ----- */
.text-red,
.text-red-hov:hover,
.text-red-hov:active,
.text-red-hov:focus {
  color: #b21e28;
}

.bg-red,
.bg-red-hov:hover,
.bg-red-hov:active,
.bg-red-hov:focus {
  background-color: #b21e28;
}

/* ----- =Masthead ----- */

.masthead {
  background-color: rgba(178, 30, 40, .9);
}

.slide-nav {
    background-color: rgba(178, 30, 40, .9);
}

/* ----- =Main ----- */

.banner {
  background: url("../images/banner.jpg") center bottom / cover no-repeat;
}

.banner-content-bg {
  background-color: rgba(0, 0, 0, .6);
}

.work-preview {
  border-top: 20px solid #b21e28;
}

.work-preview a.embed-item,
.work-preview .unit:nth-child(odd) a.embed-item,
.work-preview .unit:nth-child(even) a.embed-item {
  background-color: rgba(178, 30, 40, .9);
}

@media only screen and (min-width: 60em) {

  html {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../images/qc-logo.svg");
    background-position: left top, 80% center;
    background-size: cover, 50% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
